<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/lib/vue.js"></script>
    <script src="/lib/axios.min.js"></script>
</head>
<body>

<div id="main">
    <div style="width: 500px;height:auto;padding: 20px;margin: 10% auto;border: 1px solid #ccc;">
        <p v-if="message">
            <span :style="resultFlag ? 'color: green;' : 'color: red;'">{{message}}</span>
        </p>
        <p>
            用户名：<input type="text" v-model="obj.name">
        </p>
        <p>
            密码：<input type="password" v-model="obj.password">
        </p>
        <p>
            <button type="button" @click="login()">登录</button>
        </p>
        <ul>
            <li v-for="item in userInfo">
                <p>ID:{{item.id}}</p>
                <p>姓名：{{item.name}}</p>
                <p>年龄：{{item.age}}</p>
            </li>
        </ul>
        <p>
            <button @click="verToken()">验证token</button>
        </p>
    </div>


</div>

<script>

    var vm = new Vue({
        el: '#main',
        data: {
            message: '',
            obj: {
                name: '',
                password: ''
            },
            userInfo: {},
            resultFlag: false
        },
        methods: {
            login () {
                let _this = this
                console.log(this.obj)
                axios.post('/loginApi', this.obj)
                    .then((res) => {
                        _this.resultFlag = res.data.result;
                        _this.message = res.data.message;
                        if (res.data.result) {
                            _this.userInfo = res.data.data;
                            axios.defaults.headers.common['Authorization'] = res.data.token
                        } else {

                        }
                        console.log(res.data)
                    })
            },
            verToken () {
                let _this = this;
                axios.get('/ver')
                    .then((res) => {
                        console.log(res)
                        if (res.data.result) {

                        } else {
                        }
                    })
            }
        }
    })

    console.log(vm)

</script>

</body>
</html>